li {
    margin-bottom: 5px;
    font-size: 18px;
}

li input[type="checkbox"] {
    transform: scale(1.2);
}

body {
    background-color: #E5D0FF;
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
}


.checkbox {
    margin-right: 10px;
    transform: scale(1.2);
}

.delete-btn {
    margin-left: 10px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}


.completed {
    text-decoration: line-through;
    opacity: 0.35;
}

.divider {
    margin: 15px 0;
    border: none;
    border-top: 2px solid #ccc;
}

.completed-item {
    margin-top: 10px;
}